@import "tailwindcss";

* {
  scroll-behavior: smooth;
  user-select: none;
}
body {
  overflow-x: hidden;
  width: 100%;
}
body::-webkit-scrollbar {
  display: none;
}
.scroller_none::-webkit-scrollbar {
  display: none;
}
button {
  cursor: pointer;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.padding {
  padding: 1rem;
}
@media (min-width: 750px) {
  .padding {
    padding: 2.5rem;
  }
}
.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.h-screen {
  height: 100vh !important;
  height: 100svh !important;
}
.container{
  max-width: 1440px;
  margin-inline: auto;
}


/* =============================== */

.TextBlue{
  color: #0D40A2;
}
.TextDarkGray{
  color:#374151;
}
.TextLiteGray{
  color:#6B7280;
}
.BgBlue{
  background-color: #0D40A2;
}


/* ================================ */

h1{
  font-size: 3vw;
  line-height: 3.5vw;
}

p{
  font-size: 1rem;
  line-height: 1.2rem;
}

h2{
  font-size: 1.5rem;
  line-height: 1.9rem;
}

h3{
  font-size: 1.4rem;
  line-height: 1.9rem;
}
